*,
::before ::after {
box-sizing: border-box;

  /*  */

border-width: 0;

border-style: solid;

border-color: #1aff00;
}


#title {
    color: red;
}

body {
    margin: 0;
    font-family: "Inter";
    padding-top: 4rem;
    background-color: rgb(18, 18, 18);
}

#nav-bar {
    background-color: blue;
    height: 4rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
#nav-bar-container > h2 {
    margin: 15;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    background-color: blue;
    padding: 0 1rem;
    max-width: 80rem;
    margin: 0 auto;
}

.link {
    font-family: inter;
    color: white;
    text-decoration: none;
    font-size: 17px;

}

.link:hover {
    text-decoration: underline;
}

#main-container {
    height: 100px;
}

#main-title {
    margin-top: 20%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
}

#tabla-container {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(30, 30, 31); */
    background-color: white;
    margin-left: 2.5%;
    margin-right: 2.5%;
    min-height: 17rem;
    border-radius: 0.5rem;
    padding: 15px;
    padding-top: 15px;
    gap: 5px;

}

#input-icon {
    border-radius: 1rem;
    background-color: blue;
    height: 26px;
    width: 10%;
    color: white;
    padding: 0;
}

#input-icon:active {
    background-color: rgb(62, 97, 251);
}


#plus-icon {
    height: 3rem;
    width: 3rem;
    margin: 0;
}

#input-task {
    min-width:90%;
    height: 20px;
    border-radius: 0.25rem;
    font-size: inherit;
    padding: 1rem;
}

::placeholder{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

#tareas-container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    max-height: 15rem;
}


/* justify-content: space-between se coloca para que quede un espacio entre todos lo elementos y quede el check pegado a la derecha */
.tasks {
    display: flex;
    flex-direction: row;
    background-color: rgb(189, 189, 189);
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 0;

}

.text-task-container {
    overflow: hidden;
    text-align: justify;
}


#task-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    overflow: auto;
    width: 100%;
    min-height: 20vh;
}

.check-button {
    background-color: rgb(23, 154, 23);
    width: 2rem;
    flex-shrink: 0;
    margin-left: 10px;
    border-radius: 0.375rem;
}

.check-button:active {
    background-color: #15cd00;
}

.x-button {
    background-color: rgb(208, 20, 20);
    margin-right: 10px;
    width: 2rem;
    flex-shrink: 0;
}

.x-button:active {
    background-color: rgb(239, 44, 44);

}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    min-width: 100%;
}

#cont-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    justify-content: space-between;
    margin-top: 10px;
}

/* Estos son lo cont de abajo de las tareas */
#total-container {
    background-color: blue;
    height: inherit;
    border: 2px solid black;
    padding: 10px;
    margin: 0;
    border-radius: 0.5rem;
    color: white;

}

#completed-container {
    background-color: rgb(23, 154, 23);
    border: 2px solid black;
    padding: 10px;
    margin: 0;
    border-radius: 0.5rem;
    color: white;

}

#incompleted-container {
    background-color: rgb(208, 20, 20);
    border: 2px solid black;
    padding: 10px;
    margin: 0;
    border-radius: 0.5rem;
    color: white;

}

@media (min-width: 768px) {

    body {
        padding: 0;
        margin-top: 4rem;
        padding-top: 1rem;
        overflow: hidden;
        
    }

    #tabla-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-collapse: collapse;
        transform: scale(0.9);
        margin-bottom: 20px;
        
    }

    #main-title {
        margin-top: 5%;
        margin-bottom:0 ;
    }

    #main-container {
        height: 100vh;
        max-width: 80rem;
        justify-content: center;
    }



    #nav-bar-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-width: 95%;
        margin-right: 20px;
        margin-left: 20px;

    }

    #cont-container {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        justify-content: space-between;
        margin-left: 20%;
        margin-right: 20%;
    
    }

    #input-icon {
        width: 5%;
        flex-shrink: 0;
        height: 3rem;
    }

    /* #plus-icon{
        font-size: 100px;
    } */
    #task {
        width: 100%;
        height: 3rem;
    }

    #input-icon {
        height: auto;
    }

    #tareas-container {
        width: 100%;
    }

    

    


}